In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# school_data_to_load = "Resources/schools_complete.csv"
hotel_final_df = "WeatherPy_vacation.csv"

In [3]:
hotel_info_df = pd.read_csv("WeatherPy_vacation.csv")

In [4]:
hotel_info_df.head(50)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Bengkulu,ID,77.22,-3.80,102.27,Grage Hotel Bengkulu
1,2,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,3,Ribeira Grande,PT,62.89,38.52,-28.70,Quinta da Meia Eira
3,5,Mahanoro,MG,70.90,-19.90,48.80,Hôtel Mon Désir
4,8,Castro,BR,61.18,-24.79,-50.01,CHACARA BAILLY
5,12,Hilo,US,79.00,19.73,-155.09,Hilo Hawaiian Hotel
6,14,Vao,NC,76.60,-22.67,167.48,Hotel Kou-Bugny
7,16,Tsuruga,JP,66.00,35.65,136.06,New Sunpia Tsuruga
8,21,Port Alfred,ZA,64.00,-33.59,26.89,The Halyards Hotel
9,27,Rikitea,PF,79.38,-23.12,-134.97,Pension Maro'i
10,29,Moron,AR,63.00,-34.65,-58.62,Hotel Morón
11,36,Quesnel,CA,62.60,53.00,-122.50,Ramada Limited Quesnel
12,37,Sao Filipe,CV,77.16,14.90,-24.50,Tortuga B&B
13,40,Yaan,NG,78.08,7.38,8.57,NaN
14,42,Lompoc,US,69.80,34.64,-120.46,Holiday Inn Express Lompoc
15,43,Aljezur,PT,63.00,37.32,-8.80,Amazigh Hostel
16,44,Cilegon,ID,78.80,-6.02,106.05,Horison Forbis Hotel
17,46,Santona,ES,63.00,43.44,-3.46,Playamar
18,47,Grand Gaube,MU,71.01,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa
19,48,Cidreira,BR,62.87,-30.18,-50.21,Novomar Pousada e Turismo Ltda
20,49,Puerto Leguizamo,CO,76.59,-0.19,-74.78,la casona de juancho
21,54,Sao Joao Da Barra,BR,72.37,-21.64,-41.05,Pousada Porto De Canoas
22,56,Ahipara,NZ,68.45,-35.17,173.17,Ahipara Holiday Park
23,58,Shintomi,JP,62.60,32.08,131.47,ホテルスイート
24,59,Avarua,CK,73.40,-21.21,-159.78,Paradise Inn
25,62,Saint-Philippe,RE,69.80,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
26,66,Hamilton,US,68.00,39.18,-84.53,Six Acres Bed & Breakfast
27,67,Kaitangata,NZ,60.01,-46.28,169.85,Kaitangata Motor Camp
28,68,Soe,ID,68.59,-9.86,124.28,Dena Hotel
29,70,Manjacaze,MZ,65.50,-24.71,33.88,Hotel Gani
30,71,Saint-Joseph,RE,69.80,-21.37,55.62,"""Plantation Bed and Breakfast"
31,77,Christchurch,NZ,66.20,-43.53,172.63,"Chateau on the Park - Christchurch, a DoubleTr..."
32,78,Morondava,MG,75.87,-20.28,44.28,La Case Bambou
33,79,Santo Antonio Do Ica,BR,78.94,-3.10,-67.94,Hotel Fogaça
34,80,Ponta Do Sol,PT,66.20,32.67,-17.10,Hotel do Campo
35,81,Makokou,GA,71.64,0.57,12.86,WAMY RESIDENCE HOTEL
36,87,Carnarvon,AU,60.80,-24.87,113.63,Hospitality Carnarvon
37,88,Mattru,SL,78.53,7.62,-11.83,Boima Gbondo's Compound
38,92,Airai,TL,62.10,-8.93,125.41,Juvinal Martin
39,94,Sabang,ID,79.54,5.89,95.32,Hotel Citra
40,96,Namibe,AO,79.56,-15.20,12.15,Chik-Chik Namibe
41,98,Hasaki,JP,66.00,35.73,140.83,Inubosaki Kanko Hotel
42,101,Victoria,HK,75.00,22.29,114.16,Mini Hotel Central
43,103,Saint Pete Beach,US,75.99,27.73,-82.74,TradeWinds Island Grand Resort
44,107,Nishihara,JP,71.60,26.18,127.76,Minshuku Agaihama
45,111,Cam Ranh,VN,78.80,11.92,109.16,OYO 598 Peony Hotel
46,114,Eureka,US,66.00,40.80,-124.16,Eureka Inn
47,117,Hirara,JP,77.00,24.80,125.28,Hotel Atoll Emerald Miyakojima
48,118,El Alto,PE,72.88,-4.27,-81.21,Black Marlin Lodge & Restaurant
49,120,East London,ZA,67.17,-33.02,27.91,Tu Casa

In [5]:
# df.groupby(["state", "gender"], as_index=False)["last_name"]
vacation_df = hotel_info_df.groupby("Country")

In [6]:
# by_state.get_group("PA")
vacation_df.get_group("BR")

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
4,8,Castro,BR,61.18,-24.79,-50.01,CHACARA BAILLY
19,48,Cidreira,BR,62.87,-30.18,-50.21,Novomar Pousada e Turismo Ltda
21,54,Sao Joao Da Barra,BR,72.37,-21.64,-41.05,Pousada Porto De Canoas
33,79,Santo Antonio Do Ica,BR,78.94,-3.10,-67.94,Hotel Fogaça
51,126,Arraial Do Cabo,BR,74.28,-22.97,-42.03,Pousada Porto Praia
57,137,Pouso Alegre,BR,61.65,-22.23,-45.94,Hotel Ferraz
64,152,Coromandel,BR,61.95,-18.47,-47.20,Hotel Dona Adélia
82,188,Paranaiba,BR,70.18,-19.68,-51.19,Villa Rica Park Hotel GMR
100,236,Senador Jose Porfirio,BR,77.70,-2.59,-51.95,Benedito Maia
102,247,Sao Jose Da Coroa Grande,BR,79.59,-8.90,-35.15,Crôa Mares Hotel
108,260,Vila Velha,BR,77.00,-20.33,-40.29,Hotel Vitória Palace
109,262,Piacabucu,BR,78.57,-10.41,-36.43,Piaçabuçu News
117,285,Novo Oriente,BR,73.20,-5.53,-40.77,Golden Palace Hotel
120,292,Trairi,BR,79.32,-3.28,-39.27,Pousada Field Lilies - Trairi
121,296,Belmonte,BR,77.00,-15.86,-38.88,Pousada Monte Carmelo O Pão
139,325,Pitimbu,BR,78.80,-7.47,-34.81,Reserva do Abiaí
148,343,Acarau,BR,79.30,-2.89,-40.12,castelo pizzaria
166,389,Maceio,BR,78.80,-9.67,-35.74,Mercure Maceio Pajucara Hotel
176,411,Itaituba,BR,77.90,-4.28,-55.98,Hotel Campos
182,420,Bequimao,BR,75.20,-2.45,-44.78,Hotel e Restaurante Brisamar
188,438,Niquelandia,BR,70.43,-14.47,-48.46,Hotel Suinã
204,475,Caravelas,BR,74.28,-17.71,-39.25,Pousada dos Navegantes
225,541,Amapa,BR,74.44,1.00,-52.00,NaN

In [7]:
import gmaps
import gmaps.datasets
gmaps.configure(g_key)

# Latitude-longitude pairs
Belmonte = (-15.86, -38.88)
Niquelandia = (-14.47, -48.46)
Coromandel = (-18.47, -47.20)
Caravelas = (-17.71,-39.25)
fig = gmaps.figure()
Belmonte2Caravelas = gmaps.directions_layer(Belmonte, Caravelas)
fig.add_layer(Belmonte2Caravelas)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
Belmonte_df = hotel_info_df[hotel_info_df["City"] == "Belmonte"]
Belmonte_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
121,296,Belmonte,BR,77.0,-15.86,-38.88,Pousada Monte Carmelo O Pão

In [9]:
Niquelandia_df = hotel_info_df[hotel_info_df["City"] == "Niquelandia"]
Niquelandia_df

     City_ID         City Country  Max Temp    Lat    Lng   Hotel Name
188      438  Niquelandia      BR     70.43 -14.47 -48.46  Hotel Suinã

In [10]:
Coromandel_df = hotel_info_df[hotel_info_df["City"] == "Coromandel"]
Coromandel_df

    City_ID        City Country  Max Temp    Lat   Lng         Hotel Name
64      152  Coromandel      BR     61.95 -18.47 -47.2  Hotel Dona Adélia

In [11]:
Caravelas_df = hotel_info_df[hotel_info_df["City"] == "Caravelas"]
Caravelas_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
204,475,Caravelas,BR,74.28,-17.71,-39.25,Pousada dos Navegantes

In [12]:
#school_data_complete_df = pd.merge(stdent_data_df, school_data_df)
Belmonte_Niquelandia_df = pd. merge(Belmonte_df, Niquelandia_df, how="outer")
Belmonte_Niquelandia_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,296,Belmonte,BR,77.00,-15.86,-38.88,Pousada Monte Carmelo O Pão
1,438,Niquelandia,BR,70.43,-14.47,-48.46,Hotel Suinã

In [13]:
BelNique_Coro_df = pd. merge(Belmonte_Niquelandia_df, Coromandel_df, how="outer")
BelNique_Coro_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,296,Belmonte,BR,77.00,-15.86,-38.88,Pousada Monte Carmelo O Pão
1,438,Niquelandia,BR,70.43,-14.47,-48.46,Hotel Suinã
2,152,Coromandel,BR,61.95,-18.47,-47.20,Hotel Dona Adélia

In [14]:
complete_itinerary_df = pd. merge(BelNique_Coro_df, Caravelas_df, how="outer")
complete_itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,296,Belmonte,BR,77.00,-15.86,-38.88,Pousada Monte Carmelo O Pão
1,438,Niquelandia,BR,70.43,-14.47,-48.46,Hotel Suinã
2,152,Coromandel,BR,61.95,-18.47,-47.20,Hotel Dona Adélia
3,475,Caravelas,BR,74.28,-17.71,-39.25,Pousada dos Navegantes

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [16]:
# Store the DataFrame Row.
complete_itinerary_df = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
fig = gmaps.figure()
Belmonte2Caravelas_via_Paranaiba = gmaps.directions_layer(
        Belmonte, Caravelas, waypoints=[Niquelandia, Coromandel],
        travel_mode='DRIVING')
fig.add_layer(Belmonte2Caravelas_via_Paranaiba)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))